
<div class="panel panel-default">
  <div class="panel-heading">
    <app-todo-header [allCompleted]="allCompleted" (addTodoEvent)="addTodo($event)" (toggleAllStateEvent)="toggleAllState($event)"></app-todo-header>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <app-todo-item  *ngFor="let todo of getTodos()" [todoItem]="todo" (itemRemoved)="remove($event)" (itemModified)="update($event)" (toggleStateEvent)="toggleState($event)"></app-todo-item>
      <!--<app-todo-item  *ngFor="let todo of todos | todoList : status" [todoItem]="todo" (itemRemoved)="remove($event)" (itemModified)="update($event)" (toggleStateEvent)="toggleState($event)"></app-todo-item>-->
  </ul>
  </div>
  <div class="panel-footer">
    <app-todo-footer [leftNum]="getLeftNum()" [enabledClearBtn]="enabledClearBtn()" (filterEvent)="updateFilter($event)" (clearCompletedEvent)="clearCompleted()"></app-todo-footer>
  </div>
</div>