
<li class="list-group-item">
  <div class="media-left">
    <input type="checkbox" name="todoItemCheckbox" value="todoItemId" [checked]="todoItem.completed" (click)="toggleState()"> 
  </div>
  <div class="media-body">

    <h5 class="media-heading" style="text-decoration:line-through; color:gray" *ngIf="todoItem.completed; else other_content">
      {{todoItem.title}}
    </h5>
    <ng-template lass="media-heading" #other_content>{{todoItem.title}}</ng-template>
  
  </div>
  <div class="media-right">
    <button class="btn btn-danger btn-xs glyphicon glyphicon-trash" (click)="removeItem()"></button>
  </div>
</li>
