<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/" >Home</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/todo">Todo</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/about">About</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Todo App</h3>
    </div>
    <!--<br>
    <div class="row">
      <div class="col-md-12">-->

        <router-outlet></router-outlet>
        
      <!--</div>
    </div>-->
    <footer class="footer">
      <p>© Company 2017</p>
    </footer>
  </div>
</body>


