<div class="input-group">
  <span class="input-group-addon">
    <input type="checkbox" [checked]="allCompleted" (click)="toggleAllState($event.target.checked)">
  </span>
  <input #todoInput type="text" class="form-control" placeholder="new todo" [(ngModel)]="newTodo" (keyup.enter)="addTodo(newTodo)">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" (click)="addTodo(newTodo)">write</button>
  </span>
</div>