<h5>{{leftNum}} item left</h5>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" [class.active]="status === 'all'" (click)="getAll()">All</button>
  <button type="button" class="btn btn-default" [class.active]="status === 'active'" (click)="getActive()">Active</button>
  <button type="button" class="btn btn-default" [class.active]="status === 'completed'" (click)="getCompleted()">Completed</button>
</div>
<button class="btn btn-danger" (click)="clearCompleted()" [disabled]="!enabledClearBtn">Clear completed</button>